__pycache__
node_modules
venv

# automation/evaluation
automation/report
automation/specification

service/src/original
service/src/instrumented
service/src/trace.log
service/static/*.log

service/src/codeql/db
service/src/codeql/results
service/src/source
